<div class="row">
  <div class="large-12 columns">
    <%= link_to image_tag('logo.png', style: 'position: relative; top: -65px'), home_index_path %>
    
    <h1>
      <%= @post.title %>
    </h1>
    
    <p>
      <%= raw(@post.content) %>
    </p>
    
    <p>Want to unsubscribe? Click <a href="http://www.lanarizikafitness.com/subscribers/unsubscribe?email=<%= @email %>">here</a></p>
  </div>
</div>

