<div class="row" style="margin-top:40px;">
    <div class="large-12 columns">
        <h1 style="letter-spacing:0;margin-top:0;margin-bottom:0;">new post</h1>
        <%= render 'form' %>
        <%= link_to 'Back', articles_path, :class => 'small button radius secondary' %>
    </div>
</div>
