<div class="row" style="max-width:none;background:#3F3f3f;height:initial;">
    <div class="large-12 columns">
        <h1 class="text-center">who is lana rizika?</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-left:8%;padding-right:8%;padding-up:8%;">
        <h2>about lana rizika</h2>
        <p style="font-size:1.5em;line-height:30px;">
            It feels good to move.<br><br>Dedicated to fitness since I started dance class at 
            age 9…because it always made me feel good to move.  I like feeling strong.  I 
            like feeling powerful.  I like feeling good in my body. <br><br> Years later, I pursued
            running. I ran high school track and eventually twice ran the New York Marathon.  
            Running kept me strong and lean, and I loved my runner’s high.  I realized that with 
            being fit came a deeper feeling of wellness and balance that permeated my daily life.<br><br>  
            But I wanted more.  I added weight training 8 years ago to my workout regimen and 
            haven’t looked back.  I got my Personal Trainer Certification in 2014 and am so 
            excited to share my passion with you.  I want you to feel this way, too!</p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-left:8%;padding-right:8%;padding-bottom:5%;">
        <h2>about my training approach</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
            Throughout my years of experience exploring various forms of fitness, I have learned countless techniques and approaches.  
            While I can teach you many ways to get in shape and feel good, 
            I specialize in 3 areas: strength training, interval training, and flexibility 
            and mobility. 
        </p>
        <p style="font-size:1.5em;line-height:30px;"> 
            Strength training has multiple benefits and impacts 
            everything from your posture to how you pick up a bag of groceries.  Your lean
            muscle mass increases, your metabolism revs up, and with that, more fat burns 
            while muscles strengthen.  With proper form and technique, your core, your back, 
            and your booty get solid!  You feel taller, lighter, and your clothes fit better.  
            And, bonus: you look hot!
        </p>
        <p style="font-size:1.5em;line-height:30px;"> 
            Interval training gets your heart rate up, 
            way up. I keep it fun, dynamic, and challenging.  You want to burn fat?  This is
            how we do it.  I use various techniques including HIIT and Tabata to get your heart
            rate going and build your endurance. 
        </p> 
        <p style="font-size:1.5em;line-height:30px;"> 
            I am a big believer in the benefits 
            of flexibility and mobility: the ability to move, stretch, and reach painlessly, 
            using your full range of motion.  With improvements in these areas, your whole body 
            will move more fluidly and your workouts will become even more efficient.  
            Your posture improves and you look and feel better!
        </p>
        <p style="font-size:1.5em;line-height:30px;"> 
            Training sessions can
            include any combination of these areas, or just one.  Together, we will assess your
            fitness goals, your current fitness level, and what kind of commitment you want to 
            make. Regardless, your conditioning, strength, and general wellness will improve, 
            which may improve your mood, reduce your stress, and help you sleep.   I will coach 
            you all the way to meeting your health and fitness goals, whatever they may be. I 
            just want you to feel good in your body!
        </p>
    </div>
</div>


