<div class="image">
    <%= link_to image_tag('IMG_3229.JPG', style: 'opacity:0.6;position:relative;width:100%;'), home_index_path %>
    <h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>
</div>


<div class="row">
    <div class="large-12 columns" style="padding-left:8%;padding-right:8%;padding-up:8%;">
        <h2>about</h2>
        <p style="font-size:1.5em;line-height:30px;">
            Years of dance, running, and weight training have kept Lana feeling strong and fit. It was 
            after a brief setback in 2014 (she had a stress fracture in her hip) that she fully understood 
            how vital exercise was to her overall well-being. More importantly, she was inspired to teach 
            others how to make fitness an enjoyable part of life so they too can realize all its physical 
            and mental health benefits. Fitness, she believes, is a game changer.<br><br>
            Lana received her Personal Trainer Certification from NASM and continues her education through 
            classes, seminars, and various training programs. She weight trains several times a week, mixes 
            in cardio workouts, and dedicates time to her new passion, boxing!   </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-left:8%;padding-right:8%;padding-bottom:5%;">
        <h2>about lana rizka fitness</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
            Lana Rizika Fitness focuses on providing an hour-long personalized workout created specifically 
            to meet the client’s fitness goals.
        </p>
        <p style="font-size:1.5em;line-height:30px;"> 
            She incorporates 3 specialties into these workouts: Strength Training, Interval Training, and 
            Flexibility/Mobility Training.
        </p>
        <p style="font-size:1.5em;line-height:30px;"> 
            <b>Strength Training</b> has multiple benefits and impacts everything from posture to how you 
            pick up a bag of groceries:   
            <ul style="font-size:1.35em;line-height:30px;padding-left:30px;">
                <li>Increase lean muscle mass</li>
                <li>Boost metabolism</li>
                <li>Burn more calories as muscles strengthen - even at rest!</li>
                <li>Tighten core, back, and booty</li>
                <li>Look toned and sculpted</li>
            </ul>
        </p> 
        <p style="font-size:1.5em;line-height:30px;"> 
            <b>Interval Training</b> ratchets up your heart rate so you can:   
            <ul style="font-size:1.35em;line-height:30px;padding-left:30px;">
                <li>Burn fat</li>
                <li>Build your endurance</li>
                <li>Burn more calories in less time</li>
                <li>Increase aerobic capacity</li>
            </ul>
        </p> 
        <p style="font-size:1.5em;line-height:30px;"> 
            <b>Flexibility/Mobility Training</b> will help you:   
            <ul style="font-size:1.35em;line-height:30px;padding-left:30px;">
                <li>Move, stretch, and reach without pain</li>
                <li>Attain full range of motion</li>
                <li>Move more fluidly</li>
                <li>Workout more efficiently</li>
                <li>Improve posture</li>
            </ul>
        </p> 
        <p style="font-size:1.5em;line-height:30px;">
            Lana is passionate about helping clients feel the benefits of physical fitness, which 
            permeate all areas of life. This takes time and commitment, and Lana is here to coach 
            you all the way.  You have the power to create the best version of you!
        </p>
        <p  style="font-size:1.5em;line-height:30px;">
            Lana is based in Manhattan Beach, CA, and trains out of her home gym, at the local park, 
            and at the beach.  
        </p>
    </div>
</div>


