<div class="row" style="max-width:none;background:#3F3f3f;height:initial;">
    <div class="large-12 columns">
        <%= link_to image_tag('aboutme2.JPG', style: 'width:440px;'), home_index_path %>
        <h1 class="text-center">who is lana rizika?</h1>
    </div>
</div>


<div class="row">
    <div class="large-12 columns" style="padding:8%;">
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
            Throughout my fitness pursuits, I have learned countless techniques and approaches 
            to fitness.  While I can teach you many ways to get in shape and feel good, 
            I specialize in 3 areas: strength training, interval training, and flexibility 
            and mobility. 
        </p>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
            Strength training has multiple benefits and impacts 
            everything from your posture to how you pick up a bag of groceries.  Your lean
            muscle mass increases, your metabolism revs up, and with that, more fat burns 
            while muscles strengthen.  With proper form and technique, your core, your back, 
            and your booty get solid!  You feel taller, lighter, and your clothes fit better.  
            And, bonus: you look hot!
        </p>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
            Interval training gets your heart rate up, 
            way up. I keep it fun, dynamic, and challenging.  You want to burn fat?  This is
            how we do it.  I use various techniques including HIIT and Tabata to get your heart
            rate going and build your endurance. 
        </p> 
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
            I am a big believer in the benefits 
            of flexibility and mobility: the ability to move, stretch, and reach painlessly, 
            using your full range of motion.  With improvements in these areas, your whole body 
            will move more fluidly and your workouts will become even more efficient.  
            Your posture improves and you look and feel better!
        </p>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
            Training sessions can
            include any combination of these areas, or just one.  Together, we will assess your
            fitness goals, your current fitness level, and what kind of commitment you want to 
            make. Regardless, your conditioning, strength, and general wellness will improve, 
            which may improve your mood, reduce your stress, and help you sleep.   I will coach 
            you all the way to meeting your health and fitness goals, whatever they may be. I 
            just want you to feel good in your body!
        </p>
    </div>
</div>


