<div class="row" style="max-width:none;background-color:#3F3F3F;height:initial;">
    <div class="large-12 columns">
        <h1 style="letter-spacing:4px;margin-top:45px;margin-bottom:20px;padding-left:120px;">contact me</h1>
        <p class="contact_me">I would love to hear from you.  Please feel free to contact me:</p>
        <p class="contact_me">Name</p>
        <p class="contact_me">Email</p>
        <p class="contact_me">Message</p>
        <p class="contact_me">Ready to get started?  Click here for a complimentary 1-hour fitness consultation</p>
        <p class="contact_me" style="padding-bottom:30px;"><%= link_to "Subscribe to blog", new_subscriber_path, :style => 'color:white;font-style:italic;' %></p>
    </div>
</div>
