<div class="row" style="max-width:none;background-color:#3F3F3F;height:initial;padding-top:6.5%;padding-bottom:6.5%;">
    <div class="large-6 columns" style="margin-bottom:5%;padding-left:6%;">
        <h1 style="margin-bottom:4%;letter-spacing:4px;">contact me</h1>
        <p class="contact_me">310-408-4479</p>
        <p class="contact_me">Manhattan Beach, CA</p>
        <p class="contact_me">lanarizikafitness@gmail.com</p>
    </div>
    <div class="large-6 columns" style="margin-bottom:5%;padding-left:4%;">
        <h1 style="margin-bottom:4%;letter-spacing:4px;">rates</h1>
        <p class="contact_me">Private Training: $50 per hour</p>
        <p class="contact_me">Small Group: $30 per person</p>
        <p class="contact_me">I teach out of my home gym, the local park, and the beach.</p>
    </div>
</div>
