<div class="row" style="max-width:none;background-color:#3F3F3F;height:initial;">
    <div class="large-12 columns">
        <h1 class="text-center">group classes</h1>
    </div>
</div>

<div class="row" style="margin-top:100px;margin-bottom:10px;">
    <div class="large-12 columns">
        <p class="text-center">I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
        </p>
    </div>
</div>


