<div class="row" style="max-width:none;background-color:#3F3F3F;height:initial;">
    <div class="large-12 columns">
        <h1 class="text-center">semi-private sessions</h1>
    </div>
</div>


<div class="row">
    <div class="large-12 columns" style="padding:8%;">
        <p class="text-center" style="font-size:1.5em;line-height:30px;">I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
            I am Lana Rizika and I am a personal trainer. I am Lana Rizika and I am a personal trainer. 
        </p>
    </div>
</div>


