<div class="row" style="max-width:none;background-color:#3F3F3F;height:initial;">
    <div class="large-12 columns">
        <h1 class="text-center">services</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>private training</h2>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
              A fun, effective way to improve your health and overall well-being.  I use targeted
              techniques to increase strength, burn fat, and rev your metabolism. Muscles get 
              toned and defined as you lean out.  My mission:  to turn you on to fitness as a way 
              of life!      
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>small group training</h2>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
              There is power in numbers!  Put together a group of 2-5 people and you’ll share in 
              the gains!  You will feel stronger, move better, and look leaner, more defined, and 
              sculpted – together!      
        </p>
    </div>
</div>


<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>stretch</h2>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
              Feel stiff?  Can’t move like you used to?  This session will safely get you reaching 
              your knees, ankles, toes, the floor….
        </p>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
              Learn stretches you can do everyday.  You’ll feel more agile and able to reduce or 
              eliminate tight or sore muscles.  You might even sleep better! ☺
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>teens</h2>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
              Athletic teens may be conditioned to play certain sports, but their bodies need to 
              be strong for all kinds of activities.  This session helps round out their training 
              so their muscle development is balanced.  Injury can occur when muscle growth is 
              uneven.  With improvements in an athlete’s overall strength and conditioning, 
              strain or injury may be avoided.      
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>nutrition counseling</h2>
        <p style="font-size:1.5em;line-height:30px;text-indent:40px;"> 
              Exercise is important, vital even, but it all comes down to food. Which makes the 
              whole weight loss effort that much more challenging.  When we look at exactly what 
              your snacks and meals contain, we can make tweaks one step at a time.  I don’t believe
              in deprivation and eliminating your fav foods; it’s really a matter of balance and 
              adding back in certain foods.  With your commitment and patience – results don’t 
              happen overnight - you will see amazing results.  Not only will you drop inches, 
              you will also have more energy, your skin will look supple and smooth, and you will
              just feel lighter, and better!     
        </p>
    </div>
</div>

