<div class="image">
    <%= link_to image_tag('IMG_3224.JPG', style: 'opacity:0.6;position:relative;width:100%;'), home_index_path %>
    <h1 style="position: absolute; top:200px; left:38%; width:100%; ">Services</h1>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>private training</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
              A fun, effective way to improve your health and overall well-being.  
              Muscles get defined as you lean out with proper training and healthy eating. 
              My mission: to turn you on to balanced wellness as a way of life.      
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>small group training</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
              There is power in numbers!  Put together a group of 2-5 people and you’ll share in 
              the gains. You will get stronger, move better, and look sculpted, together!      
        </p>
    </div>
</div>


<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>stretch</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
              Feel stiff?  Can’t move like you used to?  This session will safely get you reaching 
              your knees, ankles, toes, the floor….
        </p>
        <p style="font-size:1.5em;line-height:30px;"> 
              Learn stretches you can do everyday.  You’ll feel more agile and able to reduce or 
              eliminate tight or sore muscles.  You might even sleep better!
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>teens</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
              Athletic teens may be conditioned to play certain sports, but their bodies need to 
              be strong for all kinds of activities.  This session helps round out their training 
              so their muscle development is balanced.  Injury can occur when muscle growth is 
              uneven.  With improvements in an athlete’s overall strength and conditioning, 
              strain or injury may be avoided.      
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2>nutrition counseling</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
              Exercise is important, vital even, but it all comes down to food. Which makes the 
              whole weight loss effort that much more challenging.  When we look at exactly what 
              your snacks and meals contain, we can make tweaks one step at a time.  I don’t believe
              in deprivation and eliminating your fav foods; it’s really a matter of balance and 
              adding back in certain foods.  With your commitment and patience, you will see amazing 
              results.  Not only will you drop inches, you will also have more energy, your skin 
              will look supple and smooth, and you will feel an overall sense of wellbeing.     
        </p>
    </div>
</div>

