<div class="image">
    <%= link_to image_tag('IMG_3224.JPG', style: 'opacity:0.6;position:relative;width:100%;'), home_index_path %>
    <h1 style="position: absolute; top:200px; left:38%; width:100%; ">Services</h1>
</div>

<div class="row">
    <div class="large-6 columns" style="padding-right:8%; padding-left:8%;">
        <h2>private training</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
            1-on-1 coaching session created specifically for each client. Focus is on meeting client’s 
            fitness goals through proper training, technique and nutrition.      
        </p>
    </div>
    <div class="large-6 columns" style="padding-right:8%; padding-left:8%;">
        <h2>small group training</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
            Small groups of 2-5 people share in the pains and gains of training together – push each 
            other to bring your best to the mat.      
        </p>
    </div>
</div>


<div class="row">
    <div class="large-6 columns" style="padding-right:8%; padding-left:8%;">
        <h2>stretch</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
            A 30- or 60-minute Stretch session will help improve flexibility and mobility, relieve
            tight muscles, and reduce aches and pains.          
        </p>
    </div>
    <div class="large-6 columns" style="padding-right:8%; padding-left:8%;">
        <h2>teens</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
            Strength training for teens to increase overall conditioning and ensure balanced muscle 
            development.        
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-right:8%; padding-left:8%;">
        <h2 class="text-center">nutrition counseling</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
            Work together to adjust meals and snacks and create food plans to improve eating habits, 
            lose weight, and feel great.        
        </p>
    </div>
</div>

