<div class="row">
    <div class="large-12 columns">
        <h1>editing subscriber</h1>
        
        <%= render 'form' %>
        
        <%= link_to 'Show', @subscriber, :class => 'small button radius secondary' %> 
        <%= link_to 'Back', user_signed_in? ? subscribers_path : articles_path, :class => 'small button radius secondary' %>
        
    </div>
</div>
