<div class="row">
    <div class="large-12 columns">
        <h1 style="margin:0;letter-spacing:5px;">new subscriber</h1>
        
        <%= render 'form' %>

        <% if user_signed_in? %>
            <%= link_to 'Back', subscribers_path, :class => 'small button radius secondary' %>
        <% end %>
    </div>
</div>
