<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>email:</strong>
      <%= @subscriber.email %>
    </p>
    
    <%= link_to 'Edit', edit_subscriber_path(@subscriber), :class => 'small button radius secondary' %> 
    <%= link_to 'Back', user_signed_in? ? subscribers_path : articles_path, :class => 'small button radius secondary' %>
    
  </div>
</div>
