/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.alert, .notice {
    background-color: #ccc;
}

h1 {
    font-family:"Avant Garde Gothic";
    color:#E76E1F;
    font-weight:500;
    margin-top:28%;
    margin-bottom:28%;
    letter-spacing:25px;
}

h2 {
    font-weight:lighter;
    margin-top:8%;
    margin-bottom:5%;
    color:#838383;
}

h3 {
    font-size:1.125rem;
}

h4 {
    font-size:1em;
}

p {
    color:white;
}

p {
    color:#3F3F3F;
}

div row {
    max-width:none;
    margin:0;
    padding-top:50%;
    padding-bottom:50%;
}

.flex-video {
    margin-bottom:8%;
}

.title_head:hover {
    background-color:#E76E1F;
}

a:hover {
    color: #fff;
    background-color: transparent !important;
}

.contact_me {
  color:white;
  padding-left:120px;
}

hr {
  border-width:1px;
  border-color:#E76E1F;
}

.clip {
    clip: rectangle(10px,10px,10px,10px);
}