<div class="row" style="margin-top:40px;">
    <div class="large-12 columns">
        <h1 style="letter-spacing:0;margin-top:0;margin-bottom:0;">Editing Testimonial</h1>
        <%= render 'form' %>
        
        <%= link_to 'Show', @testimonial, :class => 'small button radius secondary' %>
        <%= link_to 'Back', testimonials_path, :class => 'small button radius secondary' %>
    </div>
</div>

